.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  z-index: 15;
  border-right: 1px solid var(--primary-500);
  background-color: var(--primary-900);
  display: grid;
  grid-template-rows: var(--nav-height) 1fr;
  position: sticky;
  top: 0;
  height: 100dvh;
}

.sidebar-top {
  border-bottom: 1px solid var(--primary-500);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-inline: 1rem;
  font-size: 20px;
  transition: color 0.25s ease;
  text-transform: uppercase;

  &:hover {
    color: var(--accent-100);
  }
}
