footer {
  z-index: 5;
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid var(--primary-base);
  background: linear-gradient(
    to bottom right,
    var(--primary-dark),
    var(--primary-xdark)
  );
  grid-row: 3 / 4;
}

.footer-wrapper {
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
