.hero-section {
  width: 100%;
  min-height: 80svh;
  display: flex;
  background-image:
    linear-gradient(to bottom, rgb(from var(--primary-xxdark) r g b / 90%)),
    url("/images/homepage/hero-opti.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding-top: 10svh;
  text-wrap: balance;
  text-align: center;
}

.hero-slogan {
  text-align: center;
  text-wrap: balance;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  & h1 {
    text-transform: uppercase;
    background: linear-gradient(
      to right,
      var(--primary-xxlight),
      var(--primary-xlight) 25%,
      var(--accent-xxlight) 50%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.hero-buttons {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;

  @media only screen and (max-width: 800px) {
    width: 70%;
    align-self: center;
  }
}
