.app-navbar {
  border-bottom: 1px solid rgb(from var(--primary-base) r g b / 75%);
  background: linear-gradient(
    to left,
    var(--primary-xdark),
    var(--primary-xxdark)
  );
  height: var(--nav-height);
  z-index: 10;
  position: sticky;
  top: 0;
  box-shadow: var(--box-shadow-xl);
}

.app-nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.app-nav-toggle {
  display: grid;
  place-items: center;
  height: 100%;
}

.app-nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}
