nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.nav-wrapper {
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  text-transform: uppercase;
  display: flex;
  gap: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 100vw;
  padding: 0.75rem;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.125);
}

.nav-buttons {
  display: flex;
  gap: 1rem;
}
