.form-messages {
  display: flex;
  text-wrap: balance;
  gap: 0.5rem;
  width: min(500px, 90%);

  & svg {
    flex-shrink: 0;
    margin-top: 0.075rem;
  }
}

.error-message {
  color: var(--error-200);
}

.success-message {
  color: var(--success-200);
}
