.wrapper {
  max-width: 1366px;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;

  @media screen and (max-width: 580px) {
    padding-inline: 0.75rem;
  }
}

.like-h5 {
  font-size: clamp(1.125rem, 2vw, 1.25rem); /* 18px - 20px */
  line-height: 1.5;
  font-weight: 500;
}

.like-h2 {
  font-size: clamp(1.75rem, 4vw, 2.5rem); /* 28px - 40px */
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.01em;
}

.uppercase {
  text-transform: uppercase;
}
