.wrapper {
  max-width: 1366px;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;

  @media screen and (max-width: 580px) {
    padding-inline: 0.5rem;
  }
}

.like-h5 {
  font-size: clamp(1.125rem, 2vw, 1.25rem); /* 18px - 20px */
  line-height: 1.5;
  font-weight: 500;
}
