.add-bet-form {
  border: 1px solid rgb(from var(--primary-base) r g b / 50%);
  border-radius: 24px;
  padding: 1rem 2rem;
  background: linear-gradient(
    to bottom right,
    var(--primary-xxdark) 0%,
    var(--primary-xdark) 40%
  );
  box-shadow: var(--box-shadow-m);
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1000px;

  & h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
    grid-column: 1 / -1;
  }
}

.add-bet-form-buttons {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: flex-end;
  grid-column: 1 / -1;
}

@media screen and (width < 900px) {
  .add-bet-form {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (width < 680px) {
  .add-bet-form {
    grid-template-columns: 1fr;
  }

  .add-bet-form-buttons {
    & button {
      width: 100%;
    }
  }
}

@media screen and (width < 440px) {
  .add-bet-form-buttons {
    flex-direction: column-reverse;
  }
}

.bet-form-card {
  border: 1px solid rgb(from var(--primary-base) r g b / 25%);
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: var(--box-shadow-s);
  min-height: 6.5rem;
  height: max-content;
  background: linear-gradient(
    to bottom right,
    var(--primary-xdark),
    var(--primary-dark)
  );

  &:hover {
    box-shadow: var(--box-shadow-l);
  }
}
