.feature-cards {
  padding: 4rem 2rem;
  background-image: radial-gradient(
    at 100% 0%,
    rgb(from var(--secondary-600) r g b / 50%) 0,
    transparent 70%
  );
}

.feature-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 4rem;

  @media screen and (width <= 900px) {
    grid-template-columns: 1fr;
  }
}

.feature-card {
  border: 1px solid rgb(255 255 255 / 12.5%);
  border-radius: 8px;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: rgb(255 255 255 / 2.5%);
  box-shadow: var(--box-shadow-xl);
  text-wrap: balance;

  & h4 {
    text-transform: uppercase;
  }

  @media screen and (width <= 580px) {
    padding: 1rem 2rem;
  }
}

.feature-card-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}
