.auth-layout {
  gap: 0;
}

.auth-register,
.auth-login,
.auth-forgot,
.auth-verify {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  height: 100dvh;
  place-items: center;

  @media screen and (width <= 800px) {
    grid-template-columns: 1fr;
  }
}

.auth-verify {
  grid-template-columns: 1fr;
  place-items: center;
  background-image: radial-gradient(
    at 50% 50%,
    rgb(from var(--primary-500) r g b / 25%) 0,
    transparent 80%
  );
}

.container {
  border: 1px solid rgb(from white r g b / 25%);
  border-radius: 8px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  text-wrap: balance;
  width: min(95%, 500px);
  background: var(--primary-900);
  box-shadow: var(--box-shadow-xl);

  & h1 {
    font-size: 2rem;
  }

  & button {
    width: max-content;
  }
}

.form-container {
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  display: grid;
  place-items: center;
  background-image: radial-gradient(
    at 50% 50%,
    rgb(from var(--primary-xdark) r g b / 50%) 0,
    transparent 80%
  );

  @media screen and (width <= 800px) {
    position: absolute;
    z-index: 1;
  }
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100dvh;
}

.form-footer {
  display: flex;
  gap: 0.25rem;
  font-size: 0.925rem;
  padding-block: 0.5rem;
  align-items: baseline;
  justify-content: center;

  & .login-link {
    color: var(--accent-200);
    text-decoration: underline;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      color: var(--accent-300);
    }
  }
}

.auth-container {
  width: min(500px, 90%);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem 1rem;

  @media screen and (width <= 800px) {
    border: 1px solid rgb(0 0 0 / 12.5%);
    border-radius: 16px;
    background: rgb(from var(--primary) r g b / 85%);
    backdrop-filter: blur(8px);
    box-shadow: var(--box-shadow-xl);
  }
}

.auth-form {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.auth-form .form-messages {
  width: min(300px, 100%);
}

.form-headers {
  text-align: center;
  text-wrap: balance;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  position: relative;

  & h1 {
    font-size: 2rem;
  }

  & h2 {
    font-size: 1rem;
    font-weight: 400;
  }

  & span {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }
}

.auth-btn {
  width: min(300px, 100%);
  height: 2.5rem;
}

.auth-form-field {
  width: min(300px, 100%);
}
